* {
  background-color: #4a4a4a;
  color: white;
  margin: 0;
}

/* App Component */

.App {
  margin: 2rem;
}

#header {
  margin-bottom: 1rem;
  border-bottom: solid 2px;
  border-color: aqua;
  max-width: fit-content;
}

/* CreatTask Component */

#createTask-container {
  margin-bottom: 2rem;
}

#createTask-heading {
  font-size: 20px;
  margin-bottom: 1rem;
}

#add-task {
  background-color: #a5a5a5;
  border-color: aqua;
  margin-right: 0.5rem;
}

#submit-btn {
  background-color: #939292;
  border-color: #00ffff;
  font-weight: 800;
}

/* TaskList Component */

#currentTasks-heading {
  font-size: 20px;
  margin-bottom: 1rem;
}

.list-item {
  padding: 0.3rem;
}

.checkbox {
  margin-right: 0.5rem;
}

.remove-item-btn {
  margin-left: 1.5rem;
  color: #e7e6e6;
  background-color: #575656;
}

#clearList-btn {
  background-color: #939292;
  border-color: #00ffff;
  font-weight: 800;
  margin-top: 1rem;
}

/* MEDIA QUERIES */

@media (min-width: 750px) {
  .App {
    margin: 3rem;
  }

  #header {
    margin-bottom: 2.5rem;
  }

  #createTask-container {
    margin-bottom: 2.5rem;
  }
}

@media (min-width: 1000px) {
  .App {
    margin: 4rem;
  }

  #header {
    margin-bottom: 3rem;
  }

  #createTask-container {
    margin-bottom: 3rem;
  }
}